#buttoncontainer {
  display: flex;
  margin: 25px;
  justify-content: center;
}



#slidecontainer {
    margin: 25px;
    justify-content: center;
}

#demo {
    display: flex;
    justify-content: center;
}

#text {
    display: flex;
    justify-content: center;
}

#slidecontainer, #number {
  display: none;
}


/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

table, th, td {
    border: 1px solid black;
    padding: 5px 5px 3px 5px;
    margin: 5px 0px 5px 0px;
  }

td {
   font-size: 20px;
}

th {
  background-color: #4CAF50;
}

#herbstable tr:nth-child(even), #itemtable tr:nth-child(even), #potiontable tr:nth-child(even), #flasktable tr:nth-child(even), #scrolltable tr:nth-child(even) {
    background-color: #d1d1d1;
}

#herbstable tr:hover, #itemtable tr:hover, #potiontable tr:hover, #flasktable tr:hover, #scrolltable tr:hover {
    background-color: #ddd;
}

#herbstable th, #itemtable th, #potiontable th, #flasktable th, #scrolltable th  {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

img.icon:hover {
        width: 56px;
        height: 56px;
        background-color: #FFFFFF;
        position: relative;
        box-shadow: 0px 0px 2px 4px #BF9C33;
}

table {
    width: 100%
}

#herbstable th, #itemtable th {
  height: 98px;
}

div.table1 {
    width: 19%;
    display: inline-block;
    margin: 2px;
  }

div.table2 {
    width: 39%;
    display: inline-block;
    margin: 2px;
}

div.table3 {
    width: 39%;
    display: inline-block;
    margin: 2px;
}

div.tablecontainer {
    display: flex;
}

#potiontable tr td:nth-child(1), #scrolltable tr td:nth-child(1), #flasktable tr td:nth-child(1) {
  width: 265px;
}

#herbstable tr td:nth-child(1), #itemtable tr td:nth-child(1) {
  width: 218px;
}

#potiontable tr td:nth-child(4), #scrolltable tr td:nth-child(4), #flasktable tr td:nth-child(4)  {
  width: 164px;
}